<div class="create-gist-container">
  <div class="create-gist-header">
    <h1>Create a new Gist</h1>
  </div>
  
  <form [formGroup]="gistForm" (ngSubmit)="onSubmit()" class="gist-form">
    <div class="form-group">
      <input type="text" 
             class="gist-description" 
             formControlName="description"
             placeholder="Gist description..."
             [class.invalid]="gistForm.get('description')?.invalid && gistForm.get('description')?.touched">
      <div class="error-message" *ngIf="gistForm.get('description')?.invalid && gistForm.get('description')?.touched">
        Description is required
      </div>
    </div>
    
    <div formArrayName="files">
      <div *ngFor="let file of files.controls; let i=index" class="file-section">
        <div [formGroupName]="i">
          <div class="file-header">
            <input type="text" 
                   class="file-name-input" 
                   formControlName="filename"
                   placeholder="Filename including extension...">
            <button type="button" 
                    class="btn btn-icon" 
                    (click)="removeFile(i)"
                    *ngIf="files.length > 1">
              <fa-icon [icon]="removeIcon"></fa-icon>
            </button>
          </div>
          <textarea class="code-editor" 
                    formControlName="content"
                    placeholder="Enter code here..."></textarea>
        </div>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="button" 
              class="btn btn-secondary"
              (click)="addFile()">
        <fa-icon [icon]="plusIcon"></fa-icon>
        Add File
      </button>
      <div class="create-actions">
        <button type="button" 
                class="btn btn-outline"
                (click)="onCancel()">
          Cancel
        </button>
        <button type="submit" 
                class="btn btn-primary"
                [disabled]="gistForm.invalid || isSubmitting">
          {{ isSubmitting ? 'Creating...' : 'Create Public Gist' }}
        </button>
      </div>
    </div>
  </form>
</div>
