<div class="gist-details-container">
  <div class="gist-header">
    <div class="author-info">
      <img src="assets/profile-pic.jpg" alt="Author" class="author-pic">
      <span class="author-name">John Doe</span>
      <span class="separator">/</span>
      <span class="gist-name">vercel-monorepo</span>
    </div>
    
    <div class="gist-actions">
      <button class="btn btn-outline">
        <i class="icon-fork"></i> Fork
      </button>
      <button class="btn btn-outline">
        <i class="icon-star"></i> Star
      </button>
    </div>
  </div>

  <div class="gist-meta">
    Created 7 hours ago
  </div>

  <div class="gist-content">
    <app-gist-code [code]="gistCode"></app-gist-code>
  </div>
</div>
